import * as React from "react";
import { IconType } from "../types"


type {{ icon.slug }}Props = React.ComponentPropsWithoutRef<"svg"> & {
    title?: string;
    color?: string;
    size?: string | number;
}

const defaultColor = "#{{ icon.hex }}"

const {{ icon.slug }}: IconType = React.forwardRef<SVGSVGElement, {{ icon.slug }}Props>(function {{ icon.slug }}({ title = "{{ icon.title }}", color = "currentColor", size = 24, ...others }, ref ) {
    if (color === "default") {
        color = defaultColor;
    }

    return (
        <svg
            xmlns='http://www.w3.org/2000/svg'
            width={size}
            height={size}
            fill={color}
            viewBox='0 0 24 24'
            ref={ref}
            {...others}
        >
            <title>{title}</title>
            <path d="{{ icon.path }}"/>
        </svg>
    );
});

export { {{ icon.slug }} as default, defaultColor }