import * as React from "react";
import { IconType } from "@celsiusnarhwal/ril-packages-common"


type {{ icon.slug }}Props = React.ComponentPropsWithoutRef<"svg"> & {
    title?: string;
    color?: string;
    size?: string | number;
}

{% if si_mode %}
const defaultColor = "#{{ icon.hex }}"
{% endif %}

const {{ icon.slug }}: IconType = React.forwardRef<SVGSVGElement, {{ icon.slug }}Props>(function {{ icon.slug }}({ title = "{{ icon.title }}", color = "currentColor", size = 24, ...others }, ref ) {
    {% if si_mode %}
    if (color === "default") {
        color = defaultColor;
    }
    {% endif %}

    return (
        <svg
            xmlns='http://www.w3.org/2000/svg'
            width={size}
            height={size}
            fill={color}
            viewBox='0 0 24 24'
            ref={ref}
            {...others}
        >
            <title>{title}</title>
            {% if icon.svg_circle %}
            {{ icon.svg_circle }}
            {% else %}
            <path d="{{ icon.svg_path }}"/>
            {% endif %}
        </svg>
    );
});

{% if si_mode %}
export { {{ icon.slug }} as default, defaultColor }
{% else %}
export { {{ icon.slug }} as default }
{% endif %}